.input-area
    display: flex

.input-name
    position: relative
    top: 10px
    left: 10px

.input-sections
    margin: 0 10px

.input-sections>input
    padding: 10px
    width: 220px

.display-on
    display: block 
    position: absolute

.display-off
    display: none

.dropdown-menu
    background-color: #fbfbfb
    width: 223px
    padding: 10px 0 10px 20px
    color: #1a1a1a
    cursor: pointer

.dropdown-menu:hover
    background-color: #F9F8FD
    border: 0.2px solid black
    cursor: pointer
    weight: 600
    text-decoration: underline

